/* Основний контейнер для вітального блоку, що містить хлібні крихти та заголовок */
.greetingContainer {
  background-color: var(--color-scheme-background);

  padding: 16px 32px;
}

/* Контейнер для хлібних крихт */
.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 8px; /* Відступ між елементами */
  font-family: var(--font-lato);
  font-size: 14px;
  line-height: 160%;
  margin-bottom: 24px; /* Відступ між хлібними крихтами та заголовком */
}

.link {
  text-decoration: none;
  transition: color 0.2s;

  text-align: center;
  color: var(--color-scheme-text);
}

.pageLink {
  font-family: var(--font-family);
  font-weight: 400;

  text-align: center;
  color: var(--color-neutral);
}

.link:hover {
  color: #313131;
}

.icon {
  fill: var(--color-scheme-text);
  stroke-width: 1px;
  stroke: var(--color-scheme-text);
}

.greetingTitle {
  font-family: var(--font-comfortaa);
  font-size: 32px;
  font-weight: 600;
  color: #313131;
  margin: 0;
}

@media (max-width: 768px) {
  .greetingContainer {
    padding: 16px;
  }

  .greetingTitle {
    font-size: 1.5rem; /* Зменшений розмір шрифту на мобільних */
  }
}
