 /* MOBILE */
 .greating_block {
     min-width: 280px;
     max-width: 311px;

     margin-bottom: 24px;
 }

 .app_nav_wrapper {
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     align-items: center;
     gap: 8px;

     margin-bottom: 16px;

     font-family: var(--font-lato);
     font-weight: 400;
     font-size: 12px;
     line-height: 160%;
     text-align: center;
     color: var(--color-scheme-text);
 }

 .app_nav_link:hover {
     padding-bottom: 2px;
     border-bottom: 1px solid var(--color-scheme-text);

 }

 .app_nav_link:focus {
     color: var(--color-neutral);
 }

 .app_nav_link:active {
     border-color: var(--color-scheme-accent);
     color: var(--color-scheme-accent);
 }

 .app_nav_link:disabled {
     color: var(--color-scheme-text);
     opacity: 0.3;
 }

 .current_link {
     text-align: center;
     color: var(--color-neutral);
 }


 .icon_wrapper {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 24px;
     height: 24px;
 }

 .icon {
     fill: #000;
     stroke: #000;
     outline: #000;
 }

 .greating_wrapper {
     display: block;
     width: 100%;
     height: 34px;


 }

 .greating {
     font-family: var(--font-comfortaa);
     font-weight: 700;
     font-size: 22px;
     line-height: 140%;
     letter-spacing: 0.01em;
     color: var(--color-scheme-text);
 }


 /* TABLET */

 @media only screen and (min-width: 768px) {
     .greating_block {
         min-width: 704px;
         max-width: 768px;
     }

     .app_nav_wrapper {
         width: 134px;
         height: 24px;
     }

     .greating {
         font-size: 24px;
     }
 }


 /* DESKTOP */

 @media only screen and (min-width: 1440px) {
     .greating_block {
         min-width: 1064px;
         max-width: 1280px;
     }

     .app_nav_wrapper {
         width: 149px;
         height: 24px;

         font-size: 14px;
     }

 }