.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #333;
  font-size: 16px;
  font-weight: 500;
}

.inputField,
.textareaField {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  background-color: #f7f7f7;
}

.textareaField {
  height: 120px;
  resize: vertical;
}

.errorMessage {
  color: #ff4d4f;
  font-size: 12px;
}

.categoriesWrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  background-color: #f7f7f7;
  cursor: pointer;
}

.tag {
  background-color: #e0e0e0;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 14px;
}

.dropdownContainer {
  position: relative;
  width: 100%;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 8px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 8px;
}

.checkboxItem {
  padding: 8px 12px;
  cursor: pointer;
}

.checkboxItem label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitButton {
  width: 268px;
  height: 46px;

  border: none;
  background-color: var(--color-scheme-foreground-alt);
  border-bottom: 4px solid var(--color-scheme-accent);
  border-radius: 100px;
  padding: 10px 24px;
  cursor: pointer;
  transition:
    background-color 0.2s,
    transform 0.1s;
}

.submitButton:disabled {
  background-color: var(--color-pastel-pink-light);
  opacity: 0.3;

  cursor: not-allowed;
}

.submitButton:hover:not(:disabled),
.submitButton:focus:not(:disabled) {
  background-color: var(--color-scheme-foreground);
  border-bottom: 4px solid var(--opacity-neutral-darkest-15);
  transform: translateY(-1px); /* Легка анімація при наведенні */
}

.submitButton:active:not(:disabled) {
  background-color: var(--color-scheme-accent);
}
