/* ========== MOBILE ========== */
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 644px;
   }

.formGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin:  0 20px 0 20px;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.input, .date {
  width: 100%;
  padding: 8px 12px;
  border: transparent;
  border-radius: 12px;
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 8px;
}

.select  {
  width: 100%;
  padding: 8px 36px 8px 12px; 
  border: transparent;
  border-radius: 12px;
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 8px;

  /* убираем системную стрелку */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* добавляем свою */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23999999' d='M5 7l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: right 12px center; 
  background-size: 18px; 
}

.input:focus,
.input:hover {
    border-color: red;
  }

.error {
  font-size: 12px;
  color: red;
  margin-top: 4px;
}
.buttonContainer {
    display: flex;
    justify-content: space-between;
    gap: 18px;
    flex-wrap: wrap; 
    width: 100%;
    margin-top: 24px;
    padding-top: 24px;
    padding-bottom: 55px;
}

.submitButtonGray,
.submitButtonPink {
  font-family: 'Lato';
  font-weight: 500;
  line-height: 160%;
  padding: 8px 12px;
  border: 4px;
  border-radius: 16px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.2s ease;
  gap: 16px;
  flex: 1;
  
}

.submitButtonGray {
  margin-left: 20px;  
  background-color: #f2f2f2;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}

.submitButtonPink {
  margin-right: 20px;
  background-color: var(--color-pastel-pink);
  box-shadow: 0 2px 2px #cca2a8;
}
.submitButtonGray:hover,
.submitButtonPink:hover {
  transform: scale(1.10);
}

/* ========== TABLET  ========== */
@media (min-width: 768px) {
  .form {
    
    width: 100%;
  }

  .input {
    font-size: 15px;
  }
  
   .buttonContainer {
    justify-content: flex-end; 
    white-space: nowrap; 
  }
  
  .submitButtonGray,
  .submitButtonPink {
    width: auto; 
    flex: 0;  
  }


  .submitButton {
    font-size: 16px;
  }

.submitButtonGray {
  margin-left: 0;  

}

}

/* ========== DESKTOP  ========== */
@media (min-width: 1024px) {
  .form {
   padding-top: 0 ;
   margin-left: 312px; /*место для сайдбара */
   max-width: 644px;
   margin-right: auto;
  }
}
  .formGroup {
  
  }
   
   