.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-scheme-text);
}

.input {
  max-width: 335px;
  padding: 8px 12px;

  border: 2px solid var(--opacity-transparent);
  border-radius: 12px;
  background-color: var(--opacity-neutral-darkest-5);

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-neutral);
  outline: none;

  transition: all 0.2s ease;
}

.input {
  height: 37px;
}

.input:focus,
.input:hover {
  border: 2px solid var(--color-scheme-accent);
}

.error {
  font-size: 12px;
  color: var(--color-red);
  margin-top: 4px;
}

.buttonContainer{
  padding-top: 24px;
  display: flex;
  gap: 16px;
}

.button {
  border: none;
  border-radius: 100px;
  padding: 8px 20px;
  width: 159px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  color: var(--color-scheme-text);
}

.reset{  
  border-bottom: 4px solid var(--opacity-neutral-darkest-15);
  background-color: var(--opacity-neutral-darkest-5);
  transition: all 0.2s ease;
}

.submit{
  border-bottom: 4px solid var(--color-scheme-accent);
  background-color: var(--color-scheme-foreground-alt);
  transition: all 0.2s ease;
}

.button:hover,
.button:focus {
  border-bottom: 4px solid var(--color-scheme-border);
  background-color: var(--color-scheme-background);
}

:global(.select) {
  max-width: 335px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-neutral);
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

:global(.select) :global(.react-select__control) {
  min-height: 40px;
  border: 2px solid var(--opacity-transparent);
  border-radius: 12px;
  background-color: var(--opacity-neutral-darkest-5);
  box-sizing: border-box;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

:global(.select) :global(.react-select__control:hover),
:global(.select) :global(.react-select__control--is-focused) {
  border-color: var(--color-scheme-accent);
}

:global(.selectError) :global(.react-select__control) {
  border-color: var(--color-red) !important;
  box-shadow: 0 0 0 1px var(--color-red) !important;
}

:global(.select) :global(.react-select__single-value),
:global(.select) :global(.react-select__input),
:global(.select) :global(.react-select__placeholder) {
  color: var(--color-neutral);
  opacity: 1;
  font-size: 14px;
}

:global(.select) :global(.react-select__control--is-focused) {
  border-color: var(--color-scheme-accent);
  box-shadow: none;
}

:global(.select) :global(.react-select__menu) {
  margin-top: 6px;
  background: var(--color-neutral-lightest);
  border: 1px solid var(--opacity-transparent);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  z-index: 30;
}

:global(.select) :global(.react-select__option) {
  padding: 8px 12px;
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-scheme-text);
  transition: background 0.2s ease;
}

:global(.select) :global(.react-select__option--is-focused) {
  background: var(--opacity-neutral-darkest-5);
}

:global(.select) :global(.react-select__option--is-selected) {
  background: var(--color-scheme-accent);
  color: var(--color-neutral-darkest);
}

:global(.select) :global(.react-select__control--is-disabled) {
  background: var(--opacity-neutral-darkest-5);
  cursor: not-allowed;
}

.date {
  width: 100%;
  max-width: 335px;
  height: 48px;
  padding: 8px 12px;

  border: 2px solid var(--opacity-transparent);
  border-radius: 12px;
  background-color: var(--opacity-neutral-darkest-5);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-neutral);
  outline: none;
  box-sizing: border-box;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  display: block;
}

.date::placeholder {
  color: var(--color-neutral);
  opacity: 1;
}

.date:focus,
.date:hover {
  border: 2px solid var(--color-scheme-accent);
  box-shadow: none;
}

.date[readonly] {
  cursor: pointer;
  background-color: var(--opacity-neutral-darkest-5);
  color: var(--color-neutral);
}

.inputError {
  border-color: var(--color-red) !important;
  box-shadow: 0 0 0 1px var(--color-red) !important;
  background-color: var(--opacity-neutral-darkest-5);
}




:global(.calendar) {
  background-color: #fff;
  border: 4px solid var(--color-scheme-foreground-alt);
  border-radius: 14px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.12);
  padding: 8px 0 0 0;
  margin-top: 2px;
  font-family: var(--font-family);
  z-index: 50;
}

:global(.calendar) :global(.react-datepicker__header) {
  background: none;
  border-bottom: none;
  padding-top: 8px;
}

:global(.calendar) :global(.react-datepicker__current-month) {
  color: var(--color-scheme-text);
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 4px;
  text-align: center;
}

:global(.calendar) :global(.react-datepicker__day),
:global(.calendar) :global(.react-datepicker__day-name) {
  width: 32px;
  height: 32px;
  font-size: 14px;
  font-family: var(--font-family);
  color: var(--color-scheme-text);
  line-height: 32px;
  margin: 1px 0;
  border-radius: 50%;
  transition: background 0.16s;
  text-align: center;
}

:global(.calendar) :global(.react-datepicker__day--selected),
:global(.calendar) :global(.react-datepicker__day--keyboard-selected) {
  background: var(--color-scheme-accent);
  color: var(--color-neutral-lightest);
}

:global(.calendar) :global(.react-datepicker__day--today) {
  border: 1px solid var(--color-scheme-accent);
}

:global(.calendar) :global(.react-datepicker__day:hover) {
  background: var(--opacity-neutral-darkest-5);
}

:global(.calendar) :global(.react-datepicker__day--outside-month) {
  color: #ccc;
}

:global(.calendar) :global(.react-datepicker__navigation) {
  top: 10px;
}

:global(.calendar) :global(.react-datepicker__navigation-icon) {
  color: var(--color-scheme-accent);
  font-size: 17px;
}

:global(.calendar) :global(.react-datepicker__month) {
  padding: 0 10px 8px 10px;
}

:global(.calendar) :global(.react-datepicker__day--disabled),
:global(.calendar) :global(.react-datepicker__day--outside-month) {
  color: #ccc;
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
  filter: grayscale(0.5);
}

@media (min-width: 1440px) {
  :global(.calendar) {
    font-size: 16px;
    padding: 12px 0 0 0;
  }

  :global(.calendar) :global(.react-datepicker__day),
  :global(.calendar) :global(.react-datepicker__day-name) {
    width: 34px;
    height: 34px;
    font-size: 15px;
  }
}



@media screen and (min-width: 768px) {
  .input,
  .date,
  :global(.select){
    max-width: 704px;
  }

  .buttonContainer{
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1440px) {
  .form {
    width: 644px;
    padding: 0 32px;
  }

  .input{
    height: 40px;
  }

  .label {
    font-size: 16px;
  }

  .input,
  .date {
    font-size: 16px;
  }

    :global(.select) :global(.react-select__single-value),
    :global(.select) :global(.react-select__input),
    :global(.select) :global(.react-select__placeholder) {
      font-size: 16px;
    }
}