.form {
    display: flex;
    flex-direction: column;
    font-family: var(--font-lato);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    box-sizing: border-box;
    height: auto;
}

.title {
    margin-bottom: 8px;
}

.input {
    border: 2px solid rgba(var(--opacity-transparent));
    border-radius: 12px;
    padding: 8px 12px;
    background: var(--opacity-neutral-darkest-5);
    outline: none;
}
.input:focus, .textarea:focus {
    border: 2px solid var(--color-pastel-pink);
    outline: none;
}
.input::placeholder, .textarea::placeholder {
    color: var(--opacity-neutral-darkest-60);
}

.margin-bottom {
    margin-bottom: 24px;
}

.select {
    border: 1px solid rgba(var(--opacity-transparent));
    border-radius: 12px;
    padding: 8px 12px;
    background: var(--color-neutral-lightest);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.6;
}

.option {
    border: 1px solid rgba(var(--opacity-transparent));
    border-radius: 100px;
    padding: 4px 10px;
    background: var(--opacity-neutral-darkest-5);
}

.optionItem {

}

.textarea {
    border: 1px solid rgba(var(--opacity-transparent));
    border-radius: 12px;
    padding: 12px;
    width: 100%;
    height: 250px;
    background: var(--opacity-neutral-darkest-5);
    resize: none;
}

.button {
    border: none;
    border-bottom: 4px solid var(--color-pastel-pink);
    border-radius: 100px;
    padding: 10px 24px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.6;
    background: var(--color-pastel-pink-light);
}

@media screen and (min-width: 1440px) {
    .form {
        font-size: 16px;
    }

    .select {
        font-size: 14px;
    }

    .button {
        margin: 0 auto;
        width: 268px;
    }

}