.tab_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  width: 100%;
  max-width: 375px;
  padding: 0 12px 24px 12px;
}

.tab_buttons_container {
  border-radius: 100px;
  padding: 4px;
  max-width: 311px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--color-scheme-foreground);
}

.tab_button {
  border: 1px solid var(--opacity-transparent);
  border-radius: 100px;
  padding: 10px 12px;
  width: 163px;
  height: 42px;
  background: var(--opacity-transparent);
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  font-family: var(--font-lato);
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: var(--color-scheme-text);
  text-align: center;
}

.active {
  border-radius: 100px;
  padding: 10px 12px;
  text-align: center;
  background: var(--color-scheme-foreground-alt);
}

@media screen and (min-width: 768px) {
  .tab_wrapper {
    max-width: 704px;
    padding: 0 0 24px 0;
  }

  .tab_buttons_container {
    max-width: 704px;
  }

  .tab_button {
    width: 348px;
  }
}

@media screen and (min-width: 768px) {
  .tab_wrapper {
    max-width: 1440px;
    padding: 0 16px 24px 16px;
  }

  .tab_buttons_container {
    max-width: 576px;
  }

  .tab_button {
    width: 348px;
  }
}
