.tab_wrapper {
    border-radius: 100px;
    padding: 4px;
    width: 90vw;
    max-width: 335px;
    margin-bottom: 16px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    background: var(--color-scheme-foreground);
}

.tab_button {
    border: 1px solid var(--opacity-transparent);
    border-radius: 100px;
    padding: 10px 12px;
    width: 163px;
    height: 42px;
    background: var(--opacity-transparent);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

    font-family: var(--font-lato);
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: var(--color-scheme-text);
    text-align: center;
}


.active {
    border-radius: 100px;
    padding: 10px 12px;
    width: 163px;
    height: 42px;

    text-align: center;
    background: var(--color-scheme-foreground-alt);
}